future
iopath
tensorboard
numpy>=1.20
Pillow
matplotlib
yacs
wandb
seaborn
tqdm
opencv-python==4.5.4.60
pytest-shutil
scikit-image
pycocotools
faiss-gpu
kornia
terminaltables
git+https://github.com/mapillary/inplace_abn.git
git+https://github.com/mohan1914/amodal_panoptic_eval.git

